<% if current_user %>
	<h1>Hi, <%= current_user.first_name %>!</h1>
<% else %>
	<h1>HOMEPAGE</h1>
<% end %>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Blog</h2>
<%= @posts.inspect %>

<h2>Skill</h2>
<%= @skills.inspect %> 
